@{
    var page = ViewBag.Page as Pager;

    var Mode = new Dictionary<Int32, String>();
    Mode.Add(1, "时间片调度");
    Mode.Add(2, "定时调度");
    Mode.Add(3, "消息调度");
}
<div class="form-group">
    <label for="Mode" class="control-label">调度模式：</label>
    @Html.ForDropDownList("Mode", Mode, page["Mode"], "全部", true)
</div>
