@using AntJob.Data.Entity
@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;

    var dic = new Dictionary<Int32, String>();
    dic.Add(1, "成功");
    dic.Add(0, "失败");
}
<div class="form-group">
    <label for="action" class="control-label">操作：</label>
    @Html.ForDropDownList("action", AppHistory.FindAllAction(), page["action"], "全部", true)
</div>
<div class="form-group">
    <label for="success" class="control-label">状态：</label>
    @Html.ForDropDownList("success", dic, page["success"], "全部", true)
</div>
@await Html.PartialAsync("_DateRange")